# 1. Print multiplication table of 24 and 50 upto 10

In [7]:
n=0
while(n<10):
    n=n+1
    print("{0} * {1}={2} \t {3} * {4}={5}".format(24,n,24*n,50,n,50*n))

24 * 1=24 	 50 * 1=50
24 * 2=48 	 50 * 2=100
24 * 3=72 	 50 * 3=150
24 * 4=96 	 50 * 4=200
24 * 5=120 	 50 * 5=250
24 * 6=144 	 50 * 6=300
24 * 7=168 	 50 * 7=350
24 * 8=192 	 50 * 8=400
24 * 9=216 	 50 * 9=450
24 * 10=240 	 50 * 10=500

# 2.Write a while loop statement to print the following series 107,100,93,86....9

In [2]:
k=107
l=''
while(k>=9):
    if(k==107):
        l=str(k)
    else:
        l=str(l)+","+str(k)
    k=k-7
print(l)

107,100,93,86,79,72,65,58,51,44,37,30,23,16,9

# 3. Write a program to print the factorial of a number accepted from user.

In [3]:
input1=int(input())
n1=input1
output=''
if input1 < 0:
    output= 0
elif input1 == 0 or input1 == 1:
    output= 1
else:
    fact = 1
    while(input1 > 1):
        fact *= input1
        input1 -= 1
    output=fact
print("Factoreial of {0} is {1}".format(n1,output))

6
Factoreial of 6 is 720

# 4.Write a program to accept 10 numbers from the user and display it’s average

In [4]:
loop=1
list1=[]
while(loop<=10):
 input1=int(input())
 loop=loop+1
 list1.append(input1)

if(len(list1)>0):
  print("Average:",sum(list1)/len(list1))

2
3
3
5
6
8
9
65
25
54
Average: 18.0

# 5. Write a program to print the following series till n terms. 2 , 22 , 222 , 2222 _ _ _ _ _ n terms

In [5]:
input3=int(input())
s=0
print("Series are ",end=" ")
for i in range(0, input3):
   s=s*10+2
   print(s,end=",")
 
print()

8
Series are  2,22,222,2222,22222,222222,2222222,22222222,

# 6.Write a Program to print all the characters in the string ‘PYTHON’ using while loop.

In [6]:
i = 0
a = 'PYTHON'
  
while i < len(a): 
     
    print( a[i])
    i += 1

P
Y
T
H
O
N